$default-color: #E8E8E8;
$primary-color: #007BFF;
$secondary-color: #ccc;
$success-color: #28A745;
$danger-color: #D11919;
$black-color: #000;
$warning-color: #FFCC33;
$text-warning-color: #312F5B;
$info-color: #2DB4D3;
$dark-color: #333;
$light-color: #fff;
$main-color: #312F5B;
